<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seriatornet.yhondri.seriatornet">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Module.Main.Views.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Module.Login.LoginActivity"
            android:label="@string/login"
            android:noHistory="true" />
        <activity
            android:name=".Module.Register.RegisterActivity"
            android:label="@string/title_activity_register"
            android:noHistory="true" />
        <activity
            android:name=".Module.Welcome.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Module.ShowDetails.ShowDetailsActivity"
            android:label="@string/title_activity_show_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Module.Profile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Module.Episodes.EpisodesActivity"
            android:label="@string/title_activity_episodes"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>